<p id="notice"><%= notice %></p>

<p>
  <b>Restaurante:</b>
  <%= @marmita.restaurante %>
</p>

<p>
  <b>Pessoa:</b>
  <%= @marmita.pessoa %>
</p>

<p>
  <b>Descricao:</b>
  <%= @marmita.descricao %>
</p> 

<%= link_to 'Back', marmitas_path %>
